
<style>
    body{
        background-color: rgb(46, 94, 167);
        color: blue;
    }
    h5{
        color: red;
        background-color: rgb(243, 152, 152);
    }
    .frm {
        margin-top: 50px;
        background-color: azure;
        margin-right: 950px;
        margin-left: 340px;
        padding: 10px;
    }
</style>
<div class="frm">
    <h1>
        sign up below
    </h1>
    {% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}
<form method="POST" action="register">
    {% csrf_token%}
    <p>Username:</p>
    <input type="text" name="username"/>
    <p>Email:</p>
    <input type="email" name="email">
    <p>password</p>
    <input type="password" name="password">
    <p>Repeat password:</p>
    <input type="password" name="password2"><br>
    <input type="submit">
</form>
</div>
